<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
      integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Feed Burner By Rukshan</title>
  </head>
  <body>
    <div class="container">
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <div class="content">
            <h1 class="is-size-1 has-text-centered">Feed Burner</h1>
            <p>
              RSS is a great way to consume news and content without any
              distractions. However, most website nowadays don't like to
              maintain or have an RSS feeds.
            </p>
            <p>
              However, I decided to create RSS feeds for websites that I like to
              consume content. So that I can read them though my RSS reader app.
            </p>
            <p>
              <b
                >🔥 The feeds will take several seconds to load, because the
                websites are activly scrapped upon request</b
              >
            </p>

            <p>
              <b>
                🔥 Because of that if your feed reader does not pick it up on
                the first go (most likely due to a timeout), please give a
                second try.
              </b>
            </p>

            <p>
              I'm trying to improve it and solve the
              <a href="https://github.com/rukshn/dm-feeds/issues/2">issue.</a>
            </p>
            <p>
              If you like to contribute, the project is available on GitHub -
              <a href="https://github.com/rukshn/dm-feeds">
                https://github.com/rukshn/dm-feeds
              </a>
            </p>

            <h4>Currently working websites</h4>
            <ul>
              <li>
                Daily Mirror -
                <a href="https://dailymirror.lk" target="_blank"
                  >dailymirror.lk</a
                >
              </li>
              <ul>
                <li>
                  RSS Feed -
                  <a href="https://feeds.ruky.me/dailymirror/rss"
                    >https://feeds.ruky.me/dailymirror/rss</a
                  >
                </li>
              </ul>
              <li>FT - <a href="https://ft.lk" target="_blank">ft.lk</a></li>
              <ul>
                <li>
                  RSS Feed -
                  <a href="https://feeds.ruky.me/ft/rss"
                    >https://feeds.ruky.me/ft/rss</a
                  >
                </li>
              </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
